@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.sm-circle{
  width:50px;
  height:50px;
}

.lg-img{
  width:500px;
  height:400px;
  object-fit: cover;
}

.md-img{
  width:400px;
  height:200px;
  object-fit: cover;
}
